#wrapper{
  height: 900px;
  width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
}
#editor{
  height: 100%;
  width: 50%;
}
#preview{
  height: 100%;
  width: 50%;
  border: 2px solid black;
}
